.new-collections {
    width: auto;
    /* float: right ; */
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 90vh; */
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    margin: 0px;
    width: 200px;
    border: 2px solid #252525;
}
.collections {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 50px;
    gap: 30px;
}
