.popular {
    /* width: auto; */
    float: right ;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    margin: 0px;
    width: 200px;
    border: 2px solid #252525;
}

.popular-item {

    margin-top: 50px;
    display: flex;
    gap: 30px;
}