 .offers {
    /* margin-top: 500px; */
    /* width: 65%; */
    /* height: 60vh; */
    /* display: flex; */
    /* margin: auto; */
    /* padding: 0px 140px; */
    /* margin-bottom: 150px; */
    /* display: flex; */
   
    height: 60vh;
    /* background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%); */
}
.offers-left {
    margin-top: 200px;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 88px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;

}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;    
    font-weight: 500;
    margin-top: 35px;
    cursor: pointer;
}
.offers-right {
    /* flex: 1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 200px;
}
.offers-right img{
    width: 400px;
}

/*.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 88px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;

}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;    
    font-weight: 500;
    margin-top: 35px;
    cursor: pointer;
}
.offers-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
    */